apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: k3s-silences
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  route:
    receiver: "null"
    routes:
      # Silence the embedded component alerts in k3s
      - receiver: "null"
        matchers:
          - name: alertname
            value: KubeControllerManagerDown|KubeSchedulerDown|KubeProxyDown|K3sServiceDown|ApiServerHighLatency|ApiServerCriticalLatency
            regex: true
        continue: true
      # Route for critical alerts
      - receiver: "critical-alerts"
        matchers:
          - name: severity
            value: critical
            regex: false
        continue: true
      # Route for warning alerts
      - receiver: "warning-alerts"
        matchers:
          - name: severity
            value: warning
            regex: false
        continue: true
  
  receivers:
    - name: "null"
    - name: "critical-alerts"
      webhookConfigs:
        - url: "http://n8n.n8n:5678/webhook/alertmanager"
          sendResolved: true
    - name: "warning-alerts"
      webhookConfigs:
        - url: "http://n8n.n8n:5678/webhook/alertmanager"
          sendResolved: true
