apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - namespace.yaml
  - helm-release.yaml
  - postgres.yaml
  - coredns-alerts.yaml
  - node-resource-alerts.yaml
  - apiserver-alerts.yaml
  - alertmanager-secret.yaml
  - alertmanager-email-config.yaml
  - alertmanager-crd.yaml
  - k3s-alert-rules.yaml
  - silence-rules.yaml
  - alert-history-dashboard-configmap.yaml
  - alertmanager-config.yaml
  - k3s-silence-rules.yaml
  - alertmanager-config-configmap.yaml
  - ../loki/grafana-integration
  - k3s-metrics-endpoints.yaml
  - alertmanager-ingress.yaml
  - alertmanager-inhibit-rules.yaml
  - openhab-dashboard-configmap.yaml
  - openhab-logs-dashboard-configmap.yaml
  - maintenance-mode-rule.yaml
  - node-specific-memory-alerts.yaml
  - openhab-node-silence.yaml
  - k3s-ignore-rules.yaml
  - k3s-comprehensive-silence.yaml
  - k3s-endpoints.yaml
  - k3s-kubelet-servicemonitor.yaml
  - ceph-prometheus-rules.yaml
configMapGenerator:
  - name: alertmanager-values
    files:
      - values.yaml=alertmanager-values.yaml
