apiVersion: apps/v1
kind: Deployment
metadata:
  name: mattermost
  namespace: mattermost
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mattermost
  template:
    metadata:
      labels:
        app: mattermost
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - k3s-w-3
      containers:
      - name: mattermost
        image: ngrie/mattermost-team-edition-arm:9.5.1
        ports:
        - containerPort: 8065
        env:
        - name: MM_SQLSETTINGS_DRIVERNAME
          value: postgres
        - name: MM_SQLSETTINGS_DATASOURCE
          value: "postgres://mattermost:mattermost-db-secure-2024@mattermost-postgres:5432/mattermost?sslmode=disable&connect_timeout=10"
        - name: MM_SERVICESETTINGS_SITEURL
          value: "https://chat.k3s.nu"
        - name: MM_SERVICESETTINGS_ENABLEOUTGOINGWEBHOOKS
          value: "true"
        - name: MM_SERVICESETTINGS_ENABLEINCOMINGWEBHOOKS
          value: "true"
        - name: MM_SERVICESETTINGS_ENABLECOMMANDS
          value: "true"
        - name: MM_SERVICESETTINGS_ENABLEPOSTUSERNAMEOVERRIDE
          value: "true"
        - name: MM_SERVICESETTINGS_ENABLEPOSTICONOVERRIDE
          value: "true"
        - name: MM_SERVICESETTINGS_ALLOWCORSFROM
          value: "https://chat.k3s.nu http://mattermost.local"
        - name: MM_SERVICESETTINGS_ENABLEINSECUREOUTGOINGCONNECTIONS
          value: "true"
        - name: MM_SERVICESETTINGS_ENABLEMULTIFACTORAUTHENTICATION
          value: "true"
        - name: MM_SERVICESETTINGS_ENFORCEMULTIFACTORAUTHENTICATION
          value: "true"
        - name: MM_TEAMSETTINGS_ENABLEOPENSERVER
          value: "false"
        - name: MM_PASSWORDSETTINGS_MINIMUMLENGTH
          value: "12"
        - name: MM_PASSWORDSETTINGS_LOWERCASE
          value: "true"
        - name: MM_PASSWORDSETTINGS_UPPERCASE
          value: "true"
        - name: MM_PASSWORDSETTINGS_NUMBER
          value: "true"
        - name: MM_PASSWORDSETTINGS_SYMBOL
          value: "true"
        volumeMounts:
        - name: data
          mountPath: /mattermost/data
        - name: config
          mountPath: /mattermost/config
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 512Mi
        livenessProbe:
          httpGet:
            path: /api/v4/system/ping
            port: 8065
          initialDelaySeconds: 60
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /api/v4/system/ping
            port: 8065
          initialDelaySeconds: 30
          periodSeconds: 10
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: mattermost-data
      - name: config
        emptyDir: {}
