apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mattermost
resources:
  - namespace.yaml
  - secret.yaml
  - pvc.yaml
  - postgres.yaml
  - deployment.yaml
  - service.yaml
  - ingressroute.yaml
