apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: cloudflare
data:
  config.yaml: |
    tunnel: d6fbfcc5-709a-4396-859e-1aed2665d05f
    credentials-file: /etc/cloudflared/credentials.json
    ingress:
      - hostname: openhab.k3s.nu
        service: https://openhab-production.openhab:8443
        originRequest:
          noTLSVerify: true
          connectTimeout: 30s
          keepAliveTimeout: 30s
          keepAliveConnections: 10
      - hostname: vaultwarden.k3s.nu
        service: http://bitwarden.bitwarden:80
        originRequest:
          connectTimeout: 30s
          keepAliveTimeout: 30s
          keepAliveConnections: 10
          httpHostHeader: vaultwarden.k3s.nu
          headers:
            Cross-Origin-Resource-Policy: "same-site"
            Content-Security-Policy: "default-src 'self' https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https:; style-src 'self' 'unsafe-inline' https:; img-src 'self' data: https:; frame-src 'self' https:; connect-src 'self' https:; font-src 'self' https:; object-src 'none'"
            Strict-Transport-Security: "max-age=31536000; includeSubDomains"
            X-Content-Type-Options: "nosniff"
            X-Frame-Options: "SAMEORIGIN"
            Referrer-Policy: "strict-origin-when-cross-origin"
      - hostname: chat.k3s.nu
        service: http://mattermost.mattermost.svc.cluster.local:8065
        originRequest:
          connectTimeout: 30s
          keepAliveTimeout: 30s
          keepAliveConnections: 10
      - service: http_status:404  # This catch-all rule is required
    protocol: quic
    retries: 5
    graceShutdownTimeout: 30s