apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ceph-dashboard
  namespace: rook-ceph
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`ceph.local`)
      kind: Rule
      services:
        - name: ceph-dashboard-http
          port: 7000
          scheme: http
          passHostHeader: true
          serversTransport: ceph-insecure-transport
  tls: {}
---
apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: ceph-insecure-transport
  namespace: rook-ceph
spec:
  insecureSkipVerify: true
