apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: n8n
resources:
  - namespace.yaml
  - pvc.yaml
  - secret.yaml
  - serviceaccount.yaml
  - serviceaccount-token.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - deployment.yaml
  - service.yaml
  - ingressroute.yaml
